#root {
  
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
 
}

.appLogos{
  margin-bottom:-40px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 1em #9e0f57aa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 1em #31acceaa);
}

.subtitle{
  letter-spacing: 13px;
  margin-top:-30px;
  margin-left:15px;
}



@keyframes coin-spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  
  a:nth-of-type(1) .logo {
    animation: coin-spin infinite 11s linear;
  }
  
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #a8a8a8;
  margin-top:-10px;
}
